ion-icon {
    float: left;
    width: 38px;
    height: 55px;
    font-size 30px;
    text-align: center;
    line-height: 60px;
    margin: auto;
}

body{
 margin: 0;
 padding: 0;
 background: #313131;
 font-family: sans-serif;
}

.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-box div{
    width: 600px;
    height: 60px;
    overflow: hidden;
    margin: 8px 0;
    color: #313131;
}

.center-box span{
    float: left;
    width: 40px;
    height: 60px;
    font-size 30px;
    text-align: center;
    line-height: 60px;
}

.center-box p{
    float: left;
    margin: 0;
    padding: 0 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
}

.center-box h1{
    color: white;
}

.center-box label{
    color: #fff;
}

.m5{
    background: #3498db;
}

.m5 span{
    background: #2980b9;
}

.m2{
    background: #2ecc71;
}

.m2 span{
    background: #27ae60;
}

.m3{
    background: #f1c40f;
}

.m3 span{
    background: #f39c12;
}

.m4{
    background: #e74c3c;
}

.m4 span{
    background: #c0392b;
}

.m1{
    background: #fff;
}

.m1 span{
    background: #e8e8e8;
}

.textbox {position: relative;}
.textbox label {
    position: absolute; t
    op: 1px; /* input 요소의 border-top 설정값 만큼 */
    left: 1px; /* input 요소의 border-left 설정값 만큼 */
    padding: .8em .5em; /* input 요소의 padding 값 만큼 */
    color: #999; cursor: text;
}

.textbox input[type="text"],
.textbox input[type="password"] {
    width: 100%; /* 원하는 너비 설정 */
    height: auto; /* 높이값 초기화 */
    line-height : normal; /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0; /* iSO 둥근모서리 제거 */
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

